<!DOCTYPE html>
<html>
  <head> <!-- This is the head. This will NOT change -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
      window.showLoadingIndication = true; // Show the loading icon until everything is loaded
    </script>
    <script src="/websiteRender.js"></script> <!-- You need to load in the websiteRender file for the front-end functionality -->
    <title><%= name %></title>
  </head>
  <body class="w3-container">
    <!-- For the button functionality you need to use the function "WebsiteRenderButton" and give the page url as the parameter. --><br>
    <button class="w3-button w3-red" onclick="WebsiteRenderButton(`/`)">Home</button>
    <button class="w3-button w3-green">About</button>
    <button class="w3-button w3-orange" onclick="WebsiteRenderButton(`/news`)">News</button>
    <h1><%= name %></h1>
    <p>I'm a website maker that makes realy good websites, because I use "Website-Render" for my back-end!</p>
  </body>
</html>